@charset "utf-8";
/* CSS Document */

.edit-margin
{
	margin-bottom:10px;
}
.photo-edit
{
	/*margin-top:20px;*/
	float:left;
	background-color:#F5F5F5;
	padding:12px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	over-flow:hidden;
}

.edit-input
{
	width:300px;
	height:auto;
}