<div class="comment-item" id="c_{{comment.id}}">
	<div class="fleft">
	<a href="http://www.grnglow.com/people/{{comment.author.id}}/">
	<img title="{{comment.author.name}}" src="{{comment.author.avatar_square_loc}}">
	</a>
	</div>

	<div class="comment-text-wrapper">
		<div class="comment-head">
		<span>{{comment.date_posted}}</span>
		<span class="blue-link" style="margin-left:10px;"><a title="{{comment.author.name}}" href="http://www.grnglow.com/people/{{comment.author.id}}/">{{comment.author.name}}</a></span>
		<div class="fright delete-link" id="delete-comment">
        <a d-author-id="{{comment.author.id}}" d-comment-id="{{comment.id}}" title="删除这条评论?" href="javascript:void(0);">&gt;删除</a>
    	</div>
		</div>
		<div class="comment-text">
		<span>{{comment.content}}</span>
		</div>
	</div>
</div>