{% extends "base.html" %}
{% block title %}完善照片信息{% endblock %}

{% block headerlink %}
<link href="/static/css/login_reg.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/upload_complete.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="content-area">
<h1>第二步：完善照片信息</h1>

<form name="complete_form" method="post" action="">{% csrf_token %}
    <div style="float:left;">
    
    {% for photo in photo_list %}
    <div class="photo-edit">
	
	<div style="float:left;">
	<img src={{ photo.thumb_loc }} alt="" />
	</div>
	
	<div style="float:left;">
	
	<div class="edit-margin">
    <label>标题</label>
    <input id="title" name={{photo.input_title_name}} type="text" placeholder="给照片取个名字吧" class="basic-input edit-input" maxlength="60" value="">
	</div>
	
	<div class="edit-margin">
    <label>描述</label>
	<textarea name={{photo.input_caption_name}} rows="4" class="basic-input edit-input" placeholder="描述一下照片背后的故事吧"></textarea>
	</div>
	
	<div class="edit-margin">
    <label>标签</label>
    <input id="tags" name={{photo.input_tags_name}} type="text" placeholder="给照片加个标签吧，用逗号隔开" class="basic-input edit-input" maxlength="60" value="">
	</div>
	
	</div>
	
    </div>
	{% endfor %}
	
	<div style="clear:both;padding-top:10px;">
    <div style="margin:50px 0px 50px 530px;">
    <input type="submit" value="保存信息" id="button" class="btn-submit enabled" tabindex="3" title="保存照片信息">
    </div>
    </div>
    
	</div>
</form>

</div>
{% endblock %}