<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{% block title %}绿光照片分享{% endblock %}
</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css" media="all" />
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
{% block headerlink %}{% endblock %}
</head>

<body>
<div class="container">

<div class="header">
	<div class="logo">
	<a href="http://www.grnglow.com"><img src="/static/img/logo.gif" alt="绿光"></a>
	</div>
</div>

<div class="content">
<div style="height:1px;"></div>
{% block content %}{% endblock %}
</div>

<div class="footer">
    <span class="fleft">
        &copy; 2012 grnglow.com, all rights reserved
    </span>
    
    <span class="fright blue-link">
          <a href="http://www.grnglow.com/about/">关于绿光</a>
        · <a href="http://www.grnglow.com/feedback/">建议反馈</a>
        · <a href="http://www.grnglow.com/contact/">联系我们</a>
        · <a href="http://www.grnglow.com/help/">帮助中心</a>
    </span>
</div>

</div>
</body>
</html>
