{% extends "base.html" %}
{% block title %}绿光照片分享{% endblock %}

{% block headerlink %}
<link href="/static/css/people_home.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/photo.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/like.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<div class="fleft" style="margin:15px auto;">	
	<div class="slider-wrapper theme-default">
    	<div class="ribbon"></div>
    	<div id="slider" class="nivoSlider">
            <img src="/static/img/slide_img0.jpg" alt="" data-transition="fade"/>
            <img src="/static/img/slide_img1.jpg" alt="" data-transition="fade"/>
			<img src="/static/img/slide_img2.jpg" alt="" data-transition="fade"/>
    	</div>
    </div>
	
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/nivo-slider/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
		$('#slider').nivoSlider.defaults.pauseTime=5000;
        $('#slider').nivoSlider();
    });
    </script>
    
	<div class="cfleft" style="width:950;">
		<div class="photo-list" style="width:500px;">
			{% for p_item in p_items %} 
			<div class="square-photo-grid-wrapper">
			{% for photo in p_item %}
				<div class="square-photo-grid">
					<a title="来自{{photo.owner.name}}" href="http://www.grnglow.com/photos/{{photo.owner.id}}/{{photo.id}}/">
					<img src={{photo.square_loc}}>
					</a>
				</div>
			{% endfor %}
			</div>
			{% endfor %}
		</div>
	
		<div class="fright" style="margin-top:20px;width:450px;">
		<h2 class="fleft" style="margin-bottom:10px;">分享照片 探索发现</h2>
		<span class="fleft" >这是一个照片分享和探索的网站。在这里，你可以将生活的美好瞬间一一记录，并将这一美好分享和传递给你的朋友，并依此为引线寻到与你志趣相投的人。</span>
		</div>
	</div>

</div>
{% endblock %}