{% extends "base.html" %}
{% block title %}{{request.pageTitle}}{% endblock %}

{% block headerlink %}
<link href="/static/css/people_home.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/photo.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<style type="text/css">
li
{
	float:left;
	display:block;
	margin:0px 12px 15px 0px;
}
</style>

<script type="text/javascript"> 
$(document).ready(function()
{
	{% include "people/follow_js.html" %}
});
</script>

{% endblock %}

{% block content %}
<div class="content-area" style="float:left;width:inherit;">

{% include "people/nav.html" %}

<div style="margin-top:20px;clear:both;float:left;width:550px;background-color:#F5F5F5;padding:12px;border-radius:3px;">
	<ul style="list-style:none;margin:0;padding:0;">
	{% for tag in tag_list %} 
	<li class="tag-link" style="font-size:{{tag.fontsize}}px;"><a href="{{ request.HOME_PAGE_URL }}search/?q={{tag.tag.name}}">{{tag.tag.name}}</a></span>
	{% endfor %}
	</ul>
</div>

</div>
{% endblock %}