{% extends "base.html" %}
{% block title %}探索绿光{% endblock %}

{% block headerlink %}
<link href="/static/css/common.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/people_home.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/login_reg.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/photo.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/explore.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="content-area" style="float:left;width:inherit;">

<h1 style="float:left;margin:0;">
探索绿光
</h1>

<div class="green-link explore-nav-text fleft">
{% if isHots %}
<span class="on" style="margin-left:10px;"><a href="{{ request.HOME_PAGE_URL }}explore/hots/" title="精彩照片">精彩照片</a></span>
{% else %}
<span class="off" style="margin-left:10px;"><a href="{{ request.HOME_PAGE_URL }}explore/hots/" title="精彩照片">精彩照片</a></span>
{% endif %}

{% if isRecents %}
<span class="on" style="margin-left:10px;"><a href="{{ request.HOME_PAGE_URL }}explore/recents/" title="最新上传的照片">最新照片</a></span>
{% else %}
<span class="off" style="margin-left:10px;"><a href="{{ request.HOME_PAGE_URL }}explore/recents/" title="最新上传的照片">最新照片</a></span>
{% endif %}
</div>

<div class="photo-list" style="width:inherit;">
	{% for p_item in p_items %} 
	<div class="photo-grid-wrapper">
	{% for photo in p_item %}
		<div class="photo-grid">
			<a href="{{ request.HOME_PAGE_URL }}photos/{{photo.owner.id}}/{{photo.id}}/">
			<img src="{{request.QINIU_IMG_URL}}{{photo.thumb_loc}}">
			</a>
			<span class="fleft photo-caption">
			{{photo.caption}}
			</span>
			<div class="tags font12">
				{% for tag in photo.tag_list %} 
				<span class="tag tag-link"><a href="{{ request.HOME_PAGE_URL }}search/?q={{tag.name}}">{{tag.name}}</a></span>
				{% endfor %}
			</div>
			<span class="cfleft photo-info-text" style="margin-top:5px;">
			上传于{{photo.date_posted|date:"Y-m-j"}}
			</span>
			<span class="cfleft photo-info-text">
			{{photo.like_count}}人喜欢
			</span>
			<span style="color:#999;float:right;padding-bottom:5px;font-size:12px;" class="fright blue-link">来自<a href="{{ request.HOME_PAGE_URL }}people/{{photo.owner.id}}/" title="">{{photo.owner.name}}</a></span> 
		</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>


</div>
{% endblock %}